---
import {getCollection} from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const recipies = await getCollection('recipes');
---
<BaseLayout title="Recepten">
    <div class="container mx-auto text-center md:w-2/3">
        <h1 class="text-white text-4xl font-bold pt-6 md:pt-24 pb-6">Alle recepten</h1>
        <ul class="text-white flex flex-col gap-2 pb-6 md:pb-24">
            {recipies.map((recipe) => (
                    <a href={`/recept/${recipe.slug}`}>
                        <li class="bg-slate-600 rounded p-1 border border-slate-500">
                            {recipe.data.title}
                        </li>
                    </a>
            ))}
        </ul>
    </div>
</BaseLayout>
