---
import {Image} from 'astro:assets';
import BaseLayout from "../layouts/BaseLayout.astro";

import keystaticImg from '../images/keystatic.png';
import ingredientenOverzichtImg from '../images/ingredienten_overzicht.png';
---
<BaseLayout>
    <div class="flex justify-center mt-6 md:mt-16 min-h-svh">
        <div class="md:w-2/3 ">

            <h1 class="text-6xl text-white font-bold mb-6 text-center">How to</h1>

            <div class="px-4 bg-slate-300 rounded p-2 mb-6">
                <h2 class="text-3xl font-bold">Website gebruiken</h2>
                <h3 class="text-2xl mt-3 mb-1 font-semibold">Recepten zoeken</h3>
            </div>

            <div class="px-4 bg-slate-300 rounded p-2">
                <h2 class="text-3xl font-bold">Recepten toevoegen</h2>
                <div class="bg-orange-400 border border-orange-500 bg-opacity-75 rounded px-2 py-1 shadow-orange-400 shadow-md my-2">
                    Als je echt wil zou je dit op je mobiel kunnen doen maar het is makkelijker om dit op een computer te
                    doen.
                </div>
                <h3 class="text-2xl mt-3 mb-1 font-semibold">Inloggen</h3>
                <p>
                    Inloggen op de admin interface kan via <a class="font-black" href="/keystatic" target="_parent">hapmap.nl/keystatic</a>
                    de inlog gegeven zijn bekent bij de Cookie.

                    Als het inloggen zou je een pagina moeten zijn die er ongeveer zo uit ziet:
                    <Image src={keystaticImg} alt="Admin login" width="800" class="rounded shadow-lg shadow-gray-600 mx-auto my-4"/>
                </p>

                <h3 class="text-2xl mt-3 mb-1 font-semibold">Voorbereiding</h3>
                <p>
                    Om het toevoegen van het recept zo makkelijk mogelijk te maken is het handig om eerst te zorgen dat alle
                    ingredienten die je nodig hebt zijn toegevoegd.
                    Dit is handig omdat je de pagina voor het toevoegen van het recept dan niet elke keer hoeft te
                    vernieuwen.
                </p>

                <h3 class="text-2xl mt-3 mb-1 font-semibold">Ingredient toevoegen</h3>
                <p>
                    Met behulp van de menubalk aan re rechterzijde van de pagina kun je navigeren naar ingredienten.
                    Om te kijken of een ingredient al bestaat kun je het zoek veld rechts boven aan de pagina gebruiken om
                    door de ingredienten te zoeken, dit werkt alleen of het naam veld welke altijd in enkelvoud is.
                    <Image src={ingredientenOverzichtImg} alt="Admin login" width="800" class="rounded shadow-lg shadow-gray-600 mx-auto my-4"/>
                    Om een nieuw ingredient toe te voegen kun je op de blauwe Add knop gebruiken.
                    Een ingredient bevat de volgende gegevens:
                </p>

                <ul>
                    <li class="mb-2">
                        <span class="font-bold">Naam:</span>
                        Dit is de naam van het ingredient als enkelfout. Deze wordt gebruikt voor de recepten pagina's
                    </li>
                    <li class="mb-2">
                        <span class="font-bold">Slug:</span> dit is een technisch veld de slug is de url veilige versie van de de naam en bevat dus geen spacies en hooftletters deze wordt automatisch gemaakt.
                        Het is handig om deze na het aanmaken van het product niet meer aan te passen, omdat dit voor problemen kan zorgen
                    </li>
                    <li class="mb-2">
                        <span class="font-bold">Meervoud:</span> Dit is de naam van het ingredient in meervoud. Deze wordt gebruikt voor de ingredienten pagina.
                    </li>
                    <li class="mb-2">
                        <span class="font-bold">Bevat allergieën:</span> Dit is een checkbox die aangeeft of het ingredient allergieën bevat.
                        Deze allergieën worden dat getoond zodat er rekening mee gehouden kan worden.
                        Bij een recept(en) kan dan ook een alternatief worden toegevoegd voor dit ingredient.
                    </li>
                </ul>

                <h3 class="text-2xl mt-3 mb-1 font-semibold">Recept toevoegen</h3>
                <div class="bg-orange-400 border border-orange-500 bg-opacity-75 rounded px-2 py-1 shadow-orange-400 shadow-md my-2">
                    Check even goed of het recept al bestaat, dit kan je doen door de zoek balk te gebruiken.
                </div>
                <p>

                </p>
                <ul>
                    <li class="mb-2">
                        <span class="font-bold">Naam:</span> Dit is de naam van het recept.
                    </li>
                    <li class="mb-2">
                        <span class="font-bold">Slug:</span> dit is een technisch veld de slug is de url veilige versie van de de naam en bevat dus geen spacies en hooftletters deze wordt automatisch gemaakt.
                        Het is handig om deze na het aanmaken van het product niet meer aan te passen, omdat dit voor problemen kan zorgen
                    </li>

                    <li class="mb-2">
                        <span class="font-bold">Foto:</span> Dit is de foto die bij het recept wordt getoond. Op dit moment zijn er nog geen recepten met foto's dus worden ze ook nog niet gebruikt.
                    </li>

                    <li class="mb-2">
                        <span class="font-bold">Categories:</span> Dit zijn de categorieën waar het recept onder valt. Meer categorieën toevoegen is niet mogelijk, als je dat wil let me know.
                    </li>

                    <li class="mb-2">
                        <span class="font-bold">Notities:</span> Dit is een veld waar je extra informatie kan toevoegen over het recept.

                    <li class="mb-2">
                        <span class="font-bold">Korte omschrijving:</span> Dit is een korte omschrijving van het recept. Deze notes kunnen 3 types zijn welke bepalen welke kleur ze krijgen op de recepten pagina.
                    </li>

                    <li class="mb-2">
                        <span class="font-bold">Aangemaakt op:</span> Dit is de datum waarop het recept is toegevoegd. Deze wordt automatisch ingevuld.
                    </li>

                    <li class="mb-2">
                        <span class="font-bold">Ingredienten:</span> Dit zijn de ingredienten die nodig zijn voor het recept. Deze worden automatisch aangevuld als je begint te typen.

                        Elk ingredient bestaat op zich zelf weer uit:
                        <ul class="ml-4">
                            <li class="mb-2"><span class="font-bold">Ingredient:</span> Het ingredient uit de ingredienten collectie</li>
                            <li class="mb-2"><span class="font-bold">Hoeveelheid:</span> De hoeveelheid die per eter nodig is van het ingredient</li>
                            <li class="mb-2"><span class="font-bold">Eenheid:</span> De eenheid van de hoeveelheid bovenstaand ingevuld</li>
                            <li class="mb-2"><span class="font-bold">Alternative ingredient:</span> Als het ingredient een allergie bevat waar je graag een alternative voor wil invullen kan dat hier</li>
                        </ul>
                    </li>

                    <li class="mb-2">
                        <span class="font-bold">Bereidingstijd:</span> Dit is de tijd die nodig is om het recept te maken.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</BaseLayout>