
---
import {getCollection} from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import Search from "../components/search/Search";

const recipies = await getCollection('recipes');
const recipe_count = recipies.length;
---
<BaseLayout>
	<div class="flex justify-center items-center min-h-svh">
		<div class="w-2/3">
			<h1 class="text-4xl text-white font-bold text-center pb-2">
				HapMap.nl
			</h1>
			<p class="text-white text-center py-4">
				HapMap.nl is een website met recepten voor groote groepen zoals verenigingen, studentenhuizen en gezinnen. De recepten zijn makkelijk te maken en zijn vaak goedkoop.
			</p>

			<Search client:load recipe_count={recipe_count} />

		</div>
	</div>
</BaseLayout>
