{% extends 'HapMap/header.html' %}

{% load static %}

{% block content %}

    <div class="card-columns">
        {% for recipe in recipes %}

                <div class="card">
                <img src="{{ imgproxy }}/insecure/fit/600/0/no/0/plain/{{ recipe.recipe_img }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ recipe.recipe_title }}</h5>
                  <p class="card-text">{{ recipe.recipedetails | safe }}
                    <a href="../recipe/{{ recipe.id }}">Bekijk hele recept</a>
                  </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted"><a href="?cat={{ recipe.recipe_categorie }}">{{ recipe.recipe_categorie }}</a></small>
                </div>
              </div>

        {% endfor %}
    </div>
{% endblock %}