<html>
    <head>
       {% include 'recipebook/header.html' %}
        <title>{% block title %} {% endblock %}</title>
    </head>
    <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NLHXLNL"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% block content %}

    {% endblock %}
     {% load static %}
     <script src="{% static 'recipebook/js/recipe.js' %}"></script>
    </body>
</html>