<footer class="footer">
    <div class="row">
        <div class="col-md-4">
            <h4>HapMap</h4>
            <p>HapMap.nl is een website waar je recepten kunt vinden voor grote receptern</p>
            <ul class=class="list-group">
                <li class="list-group-item">test</li>
                <li class="list-group-item">test</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h4>Latest recipe</h4>
            <p>
                test test test
            </p>
        </div>
        <div class="col-md-4">
            <h4>Help</h4>
            <ul>
                <li>test</li>
            </ul>
        </div>
    </div>
    <p style="text-align: center">Deze site is gemaakt door de Cookie en 💖 van <a href="https://blauweschuit.com" target="_blank">A.L.S.Z.V. De Blauwe Schuit</a></p>
</footer>