body {
  background-color: #E5E6EA !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.recept_header {
  position: relative;
  text-align: center;
  color: white;
  border-radius: calc(.25rem - 1px)!important;
  overflow: hidden;
}

.recept_header img{
  width: 100%
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.breadcrumb{
  margin-bottom: unset !important;
}


/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .card-columns {column-count: 1 !important;}
  .container-fluid {padding: 0px !important;}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  .card-columns {column-count: 2 !important;}
  .container-fluid {padding: 0px !important;}
  .recipe_title{font-size: 4rem;}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .card-columns {column-count: 3 !important;}
  .recipe_card, .breadcrumb-card{
    width: 90% !important;
    margin-left: auto!important;
    margin-right: auto!important;
  }
  .recipe_title{font-size: 4rem;}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  .card-columns {column-count: 4 !important;}
  .recipe_card, .breadcrumb-card{
    width: 80% !important;
    margin-left: auto!important;
    margin-right: auto!important;
  }
  .recipe_title{font-size: 6rem;}
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .card-columns {column-count: 5 !important;}
  .recipe_card, .breadcrumb-card{
    width: 50% !important;
    margin-left: auto!important;
    margin-right: auto!important;
  }
  .recipe_title{font-size: 8rem;}
  .recept_header{
    padding-left: 10% !important;
    padding-right: 10% !important;
  }
}

/*
  Alt allergie stuff
*/
.alt-allergie-card{
  margin: 0 0 0 15px !important;
  padding: 0 !important;
  border-bottom: 1px solid rgba(0,0,0,.125) !important;
  box-shadow: unset !important;
}

.alt-header{
  padding: .25rem 0.75rem !important;
  border-radius: unset!important;
}